$filter-color: rgba(0, 0, 0, 0.8);
$filter-opacity: 0.7; // Providnost filtera

$text_color_sec: #fff;
$text_color_ax: #000;
$bg_color_prim: #003468;
$bg_color_sec:#00468B;
$bg_color_white: $text_color_sec;

//Loader spiner variabiles
$spinner-border-color: #797979;               
$spinner-border-active: $bg_color_sec;
$logo-color: $bg_color_sec;

// Border color variables
$border_color: $bg_color_sec;
