@mixin animated-spinner($size: $spinner-size, $color: $spinner-border-color, $active-color: $spinner-border-active, $border-width: $spinner-border-width) {
    width: $size;
    height: $size;
    border: $border-width solid $color;
    border-top: $border-width solid $active-color;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

@mixin animation-pulse(){
    @keyframes pulse {
        0%, 100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
    }
}

@mixin translate-in($distance: -50%) {
  transform: translateY($distance);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin translate-reset {
  transform: translateY(0);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}